<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Error</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/style.css/"
	th:href="@{/css/style.css}">
</head>
<body>
	<h1>Error!</h1><hr>
	<p>Please check below:<br></p>
	<div class="list">
		<ul>
			<li>Container's id must be greater than 0.</li>
			<li>Container's name can't be empty.</li>
			<li>Container's volume must be greater than 0.</li>
		</ul>
	</div>
	
	<a href="/">Try Again.</a>

</body>
</html>