<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Container List</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/style.css/"
	th:href="@{/css/style.css}">
</head>
<body>

	<h1>New Container</h1><hr>
	
	<form action="/processContainer">
		<div class="form">
			<label>ID: <br>
				<input type="text" name="id"></label><br>
			<label>Name: <br>
				<input type="text" name="name"></label><br>
			<label>Volume: <br>
				<input type="text" name="volume"></label><br><br>
			<div class="btn">
				<input type="submit" value="Submit"></div>
		</div>
	</form>
	

</body>
</html>