<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Item Added</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/style.css/"
	th:href="@{/css/style.css}">
</head>
<body>
	<h1>Container Added!</h1><hr>
	<h3 th:text="${container}">container</h3>
	<h3 th:text="|Sent to: ${container.department}|"></h3>

	<p>
		<a href="/">Add Another</a><br>
		<a href="/record">View Records</a>
	</p>
</body>
</html>