<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Dog Show</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/style.css"
	th:href="@{/css/style.css}"> 
<link rel="icon" type="image/png" href="/images/logo.png" />
</head> 
<body>


<nav class="row" id="navbar">
	<div class="navbar__logo">
		<a th:href="@{/}">
		<img src="../static/images/logo.png" th:src="@{/images/logo.png}" 
		alt="Dog Show Logo" class="logo"></a>
	</div>
	<div class="navbar__menu">
		<ul class="navbar__menu"> 
			<li class="navbar__menu__item"><a th:href="@{/}">Home</a></li>
			<li class="navbar__menu__item"><a th:href="@{/breeds}">Breed</a></li>
			<li class="navbar__menu__item active"><a th:href="@{/register}">Register</a></li>
			<li class="navbar__menu__item"><a th:href="@{/viewDogList}">Dog List</a></li>
			<li class="navbar__menu__item"><a th:href="@{/viewShowList}">Show List</a></li>
		</ul>
	</div>
</nav>
	
<section id="register" class="section section__container">
	<h1>Register Today!</h1><hr>
	
	<div class="container">
		<form action="/addDog" th:object="${dog}">
			<div class="row">
				<div class="col-40">
					<label for="name">Name</label>
				</div>
				<div class="col-60">
					<input type="text" th:field="*{name}">
				</div>
			</div>
			<div class="row">
				<div class="col-40">
					<label for="owner">Owner's Name</label>
				</div>
				<div class="col-60">
					<input type="text" th:field="*{owner}">
				</div>
			</div>
	
			<div class="row">
				<div class="col-40">
					<label for="breed">Breed</label>
				</div>
				<div class="col-60">
					<select th:field="*{breed}">
						<option value="" selected hidden>Choose here</option>
						<option th:each="breed : ${breeds}" th:value="${breed.name}" th:text="${breed.name}"></option>
					</select>
				</div>
			</div>
			
			<div class="row radio">
				<div class="col-40 radio_label">
					Gender
				</div>
				<div class="col-60 radio_container">
					<div class="radio_left">
						<input type="radio" id="male" value="male" name="gender" th:field="*{gender}">
						<label for="male">Male</label>
					</div>
					<div>
						<input type="radio" id="female" value="female" name="gender" th:field="*{gender}">
						<label for="female">Female</label>
					</div>
				</div>
			</div>
			
			<div class="row radio">
				<div class="col-40 radio_label">
					Category
				</div>
				<div class="col-60 radio_container">
					<div class="radio_left">
						<input type="radio" id="class" value="class" name="category" th:field="*{category}">
						<label for="class">Class</label>
					</div>
					<div>
						<input type="radio" id="specialty" value="specialty" name="category" th:field="*{category}">
						<label for="specialty">Specialty</label>
					</div>
				</div>
			</div>
 
			<br>
			<div class="row">
				<input type="submit" value="Register">
			</div>
		</form>
	</div>


</section>


<footer id="contact" class="section">
	<h2 class="contact__title">Contact Us</h1>
	<h3 class="contact__email">trafalgar.dogshow@sheridan.prog</h2>
	<p class="contact__rights">Copyright &copy; 
	PROG32758 2021 by Juyoung Jung. All rights reserved.</p>
</footer>

</body>
</html>